@charset "utf-8";
* {
    box-sizing: border-box;
}

.container {
    width: 540px;
    border: 1px solid gray;
}

.header {
    border-bottom: 1px solid gray;
}

.navigation {
    float: left;
    width: 120px;
    border-right: 1px solid gray;
}

.article {
    float: left;
    width: 300px;
    border-left: 1px solid gray;
    margin-left: -1px;
    border-right: 1px solid gray;
}

.aside {
    float: left;
    width: 120px;
    margin-left: -1px;
    border-left: 1px solid gray;
}

.footer {
    clear: both;
    padding: 20px;
    border-top: 1px solid gray;
    text-align: center;
}